/* KC Code-A-Thon */
/* Missouri S&T Team */
/* Ryan Andrews, Eli Gaitley, Gideon Walker, Michael Ward, Daniel Holtzclaw */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('bootstrap.min.css');

html, body {
	margin: 0;
	padding: 0;
  background-color: rgb(220, 220, 220);
  background-image: url("../Pictures/background.png?2");
}

input, button {
  outline: none !important;
}

td {
  padding: 5px 8px 2px 8px;
  font-family: "Raleway";
}

th {
  padding: 10px 8px 2px 8px;
  font-family: "Raleway";
  margin-bottom: 5px;
}
th.top-border {
  border-top: 1px solid rgb(32, 32, 32);
}
th.right-border {
  border-right: 1px solid rgb(32, 32, 32);
}
th.bottom-border {
  border-bottom: 1px solid rgb(32, 32, 32);
}
th.left-border {
  border-left: 1px solid rgb(32, 32, 32);
}
.table-outer {
  margin: 0px auto;
  border: 1px solid white;
  padding: 5px;
  border-collapse: separate;
  border-spacing: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
.table-cell-default {
  background-color: rgba(12, 199, 69, 0.4);
  border: 1px solid rgb(12, 199, 69);
  padding: 10px;
}

#info-window {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  width: 220px;
  display: none;
  text-align: justify;
}

.center-text {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

#header {
  height: 400px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.header-text {
	font-size: 40px;
  font-family: "Raleway";
	color: rgb(32, 32, 32);
	text-align: center;
	font-weight: bold;
  border: 0px solid transparent;
	background-color: rgba(255, 255, 255, 0.8);
	height: 48px;
  width: 100%;
  line-height: 48px;
  padding: 5px 0px;
  position: absolute;
  /*text-shadow: 0px 1px 10px rgba(255, 255, 255, 0.5), 0px -1px 10px rgba(255, 255, 255, 0.5), 1px 0px 10px rgba(255, 255, 255, 0.5), -1px 0px 10px rgba(255, 255, 255, 0.5);*/
}
.header-text h1 {
  margin-top: 0px;
}

#content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#content-top-margin {
  position: absolute;
  left: 0px;
  top: 96px;
  width: 100%;
  height: 100%;
}

/********************************************/
/* HEADER STYLES                            */
/********************************************/
#menubar {
	left: 0px;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 48px;
	background-color: rgba(12, 199, 69, 0.6);
  z-index: 999;
}

#menubar-white {
	left: 0px;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 48px;
	background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

#linkbar-left {
  bottom: 0;
  left: 16px;
  right: 16px;
  top: 128px;
  height: 64px;
  text-align: left;
  line-height: 48px;
  display: inline;
}
#linkbar-right {
  bottom: 0;
  left: 16px;
  right: 16px;
  top: 128px;
  height: 64px;
  text-align: right;
  line-height: 48px;
  display: inline;
  float: right;
}

a, a:hover, a:visited {
	text-decoration: none;
}

.menulink {
	text-decoration: none;
	color: rgb(32, 32, 32);
  font-size: 20px;
  font-family: "Raleway", serif;
  padding: 11px 24px;
  display: inline;
  height: 48px;
  border: 1px solid transparent;
  margin-left: 5px;
}

.menulink:hover {
	text-decoration: none;
  color: rgb(32, 32, 32);
  background-color: rgba(12, 199, 69, 1);
}

/********************************************/
/* USER PROFILE STYLES                      */
/********************************************/

.background-img{
	background-image:
}

.see_box{
	border:solid;
	border-width: 1px;
	border-color: black;
}

.header_bg{
	background-image: url(https://www.listaddicts.com/wp-content/uploads/2015/12/America.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
}

.profile_pic{
	height: 80px;
	width: 80px;
}

.time{
	font-size: 14px;
	font-style: italic;
}

.user-info {
  background-color: rgba(12, 199, 69, 0.4);
  border: 1px solid rgb(12, 199, 69);
  padding: 10px;
}

#profile-pic {
  width: 200px;
  height: 200px;
  background-size: cover;
}

#misc-info {
  width: 100px;
}

/********************************************/
/* MAIN USER PROFILE STYLES                 */
/********************************************/

.top {
  height: 50px;
}

#pic {
  height: 200px;
  width: 100%;
}

/********************************************/
/* ORGANIZTIONAL PROFILE STYLES             */
/********************************************/
#organization-header {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.menu {
	background-color: rgba(230, 230, 230, 0.9);
	height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.btn {
	width: 100%;
}

.event {
  cursor: pointer;
  padding: 3px 10px;
  font-family: "Raleway";
  background-color: transparent;
  width: 120px;
  text-align: center;
}
.event:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu .container {
	padding-top: 25px;
}

.rating_head {
  text-align: center;
  width: 100%;
}

.postBoard {
	background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid white;
	width: 60%;
  padding: 15px;
  margin: 0px auto;
}

.footer {
  height: 120px;
}

.postBoard table, .postBoard th, .postBoard tr, .postBoard td {
  text-align: center;
  border: 2px solid black;
}

.postBoard th, .postBoard td {
  width: 50%;
}

.postBoard table {
  width: 100%;
  height: 100%;
}

.posts, .schedule, .about, .contact_info {
  text-align: center;
  padding-top: 100px;
}